


a {
  text-decoration: none;
}

label {
  font-size: 0.825rem;
  display: inline-block;
  margin-bottom: 0.5rem;
}

input, button, select, optgroup, textarea {
  margin: 0;
  font-family: inherit;
}

.nav-link:hover, .nav-link:focus {
  text-decoration: none;
}

.life_list {
  padding-top: 0.324219rem;
  padding-bottom: 0.324219rem;
  margin-right: 1rem;
  font-size: 1.171875rem;
  line-height: inherit;
  white-space: nowrap;
}

.separator {
    margin: 0 12px;
    border-left: 1px solid #fff; 
    height: 24px;
    width: 0;
    display: inline;
}


/*----------------------------------------------------------------*/
/*  CONTACT                                                       */
/*----------------------------------------------------------------*/
.contact {
  margin: auto;
  width: 50%;
}

#submit {
  color: #fff;
  background-color: #008cba;
  border-color: #0079a1;
  font-weight: 300;
  border: 1px solid transparent;
    padding: 0.375rem 0.5rem;
    font-size: 0.9375rem;
    line-height: 1.5;
    border-radius: 0;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

#submit:not(:disabled):not(.disabled) {
  cursor: pointer;
}

#submit:hover {
  color: #fff;
  background-color: #006f94;
  border-color: #006687;
}


.form-group {
  margin-bottom: 1rem;
}

.form-control {
  display: block;
  width: 100%;
  height: 24.5px;
  padding: 0.375rem 0.5rem;
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border-radius: 0;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

textarea.form-control {
  height: auto;
}